# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
out/
.next/

# Env
.env
.env.local
.env.*.local

# Foundry
cache/
contracts/out/
contracts/cache/
contracts/lib/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage/
.nyc_output/

# Misc
*.pem
.vercel


